header {
  padding:2px;
  font-family: "Arial";
  font-size: 20px;
}


/*comment*/
html{
  background-color: #EAF5FF;
}

p{
  color: black;
  font-size: 20px;
  font-family: "Arial"
}
ul{
  font-family:"Arial";
}
header h1{
  text-align: center;
  font-size: 70px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  background-color:#B5DAFF;
}
aside section{
  font-family: Arial;
  font-size: 20px;
}
section article p{
font-size: 30px;
}
.purple {
  color: purple;
}

.bucketlist{
  font-family: "Courier New";
}